.additional-container {
    display: flex;
    position: relative;
}

.additional-container .additional {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 88px;
    border-bottom: 1px solid #E8A634
}

.additional-container .buttonsPlusMinus {
    top: 30px;
    right: 3px;
    position: absolute;
    width: 89px;
    height: 32px;
}