.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width: 720px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
}
