* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}